<!doctype html>
<html lang="sv">
<head>
  <meta charset="utf-8"/>
  <title>Nosad - Network open source and data</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta
  name="description"
  content="Nätverkets (NOSAD) mål är att praktisk hjälpa
  och inspirera offentlig verksamhet att öka tillgängliggörandet
  och nyttjandet av öppna data. Över 40 timmar inspelat material,
  100 delade länkar och dokument, ca 500 personer ingår i nätverket.">

  <link rel="stylesheet" href="style/bootstrap-purged.min.css">

  <style>
  h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .table td, .table th {
    min-width: 110px;
  }
  .jumbotron{
    /**  background: url("img/markus-winkler-UXNXItayGmo-unsplash.jpg") center center / cover no-repeat; **/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.9) 100%), url(img/header-min.jpg);
  }

  ul {
    margin-left: 1.2em;
    display:table-row;
    list-style-position: inside;
  }

  a {
    color: #6a5eff;/**#531fff;**/
    /**  color: hsl(196.2, 100%, 35.7%); **/
  }
  .text-muted {
    color: #757575 !important;
  }


</style>

<link rel="preload" href="img/header-min.jpg" as="image"/>

</head>
<body>

  <header class="container-fluid">
      <div class="navbar-brand py-0 mb-0">
        <div class="d-inline-block justify-content-center">
          <small><small><strong>N</strong>etwork <strong>O</strong>pen <strong>S</strong>ource <strong>A</strong>nd <strong>D</strong>ata</small></small>
        </div>
      </div>
      <div class="bg-cover p-4">
        <div class="container">
          <div class="row justify-content-center text-center">
            <h1 class="display-4">Öppna data och öppen källkod</h1>
          </div>
        </div>
      </div>
  </header>

  <nav class="container-fluid">
      <div class="row justify-content-center p-0">
        <div class="col-xs-12 col-md-6">
          <nav id="breadcrumb" aria-label="breadcrumb">
            <ol id="crumbs" class="breadcrumb">
              <!--    <li class="breadcrumb-item">Hem</li>  -->
            </ol>
          </nav>
        </div>
      </div>
  </nav>

  <main class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
          <p>
          <small class="text-muted" id="dateAndTime">{{updated}}</small>
        </p>
      <article id="content">
        {{{content}}}
      </article>
    </div>
  </div>
</main>

<footer class="container-fluid mt-3">

  <div class="row justify-content-center text-center" style="background-color: #000357">
    <div class="col-xs-12 col-sm-12 col-md-6 mt-2 text-white">
      <p><a href="https://gitlab.com/open-data-knowledge-sharing/open-data-knowledge-sharing.gitlab.io" class="text-white">Var med och koda sajten</a></p>
      <p>Arbetsförmedlingen</p>
    </div>
  </div>

</footer>


<script>
let $ = (selector) => document.querySelector(selector);
var dateString = $("#dateAndTime").innerHTML;
if (dateString !== ""){
var date = new Date(dateString).toLocaleString('sv-SE');
if(date !== null)
$("#dateAndTime").innerHTML = "Uppdaterad " + date.slice(0, -3);
}

/** Breadcrumbs **/
function urlToBreadcrumbs(){

  var crumb = window.location.pathname.split('#')[0].split('/');
  crumb = crumb.filter(x => x);
  var anchorLink = "";

  if (crumb.length > 0){
    var a = document.createElement('a');
    var linkText = document.createTextNode("Hem");
    a.appendChild(linkText);
    a.title = "Hem";
    a.href = "/";
    a.classList.add("breadcrumb-item");
    document.getElementById("crumbs").appendChild(a);
  }

  crumb.forEach(element => {
    var thisCrumb = element;
    thisCrumb = capitalize(thisCrumb);
    var newBreadcrumb = document.createTextNode(thisCrumb);
    var newListItem = document.createElement("LI");
    newListItem.classList.add("breadcrumb-item");
    newListItem.appendChild(newBreadcrumb);
    document.getElementById("crumbs").appendChild(newListItem);
  });
}
function capitalize(lowerCaseString) {
  return lowerCaseString && lowerCaseString[0].toUpperCase() + lowerCaseString.slice(1);
}

const renderLayout = () => {
  var tables = document.querySelectorAll('table');
  tables.forEach(table => {
    table.classList.add("table");
    table.classList.add("table-striped");
  })
  urlToBreadcrumbs();
}

window.onload = renderLayout;

</script>


</body>
</html>
